* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 0.7vw 1vw 0 0;
}

navbar .navbar-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vw;
}

navbar .normal-buttons {
  font-size: 12px;
  color: #474747;
  cursor: pointer;
}

navbar .normal-buttons:hover {
  text-decoration: underline;
}

navbar .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  color: gray;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  width: 2vw;
}

navbar .dropdown:hover {
  background-color: #b6b6b6;
  border-radius: 15px;
}

navbar .login-button {
  font-size: 14px;
  background-color: #2776dd;
  color: white;
  padding: 10px 24px;
  border-radius: 4px;
  cursor: pointer;
}

navbar .login-button:hover {
  background-color: #2b7de9;
  -webkit-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
          box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 60vh;
}

section .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .main-container .google-logo {
  cursor: pointer;
}

section .main-container .search-bar {
  border: 1px solid #cfcfcf;
  border-radius: 20px;
  width: 30vw;
  padding: 12px;
  margin-top: 1vw;
}

section .main-container .search-bar:focus {
  outline: none !important;
  -webkit-box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

section .main-container .search-bar:hover {
  outline: none !important;
  -webkit-box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

section .main-container .search-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5vw;
  margin-top: 1vw;
}

section .main-container .search-buttons-container .search-buttons {
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.footer {
  background: #f2f2f2;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.footer .footer-main-title {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
  border-bottom: 1px solid #dadce0;
  cursor: pointer;
}

.footer .footer-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #70757a;
  padding: 0 20px;
}

.footer .footer-elements .left-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-elements .left-elements div {
  padding: 15px 15px;
  font-size: 14px;
  cursor: pointer;
}

.footer .footer-elements .right-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-elements .right-elements div {
  padding: 15px 15px;
  font-size: 14px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */